
.text-link {
  color: inherit;
  text-decoration: inherit;
  color:black;
}
.bg-img{
  background: url('./img/tumblr_eafe739a9a7a6275c9c53730b5f0b45f_1fe405f7_2048.jpeg');
  background-position-y:center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  padding-top: 100px;
}