
.text-link {
  color: inherit;
  text-decoration: inherit;
  color:black;
  font-family: 'Oswald', sans-serif;
}

.video-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 22%;
  left: 0;
  right: 0;
  bottom: 0;
 

}

video {
  /** Simulationg background-size: cover */
  position: absolute;
  overflow:hidden;
  width:100%;
  height:120%;
  object-fit: cover;
  margin: auto; 


}

.cardhome{
  /** Simulationg background-size: cover */
  position: relative;
  
}
.date{
  /** Simulationg background-size: cover */
  position: relative;
  padding-top: 60px;
  padding-bottom: 12px;
  
}
.cardfavorit {
  /** Simulationg background-size: cover */
  position:relative;
}
.fav{
  float: left;
  padding: 12px;
  justify-items: center;
  width: 33%;
}
.bgcard{
  background-color:rgb(255, 255, 255,0.1);
}

.bg-home{
  background: linear-gradient(to bottom, #b68ab1f9 0%, #ece9dae7 100%);
  height: 355px;
  position: absolute;
  width: 100%;
  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 56.6%;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-fav{
  background: linear-gradient(to bottom, #b68ab1f9 0%, #ece9dae7 100%);
  height: 405px;
  position: absolute;
  width: 100%;
  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 36.6%;
  left: 0;
  right: 0;
  bottom: 0;
}